*{
    margin: 0;
    padding: 0; 
}

body{
    background-color: rgba(244, 244, 244, 0.615);
}

nav ul{
    background-color: rgba(2, 23, 55, 0.859);
    padding: 35px 20px;
}

nav ul #link{
    color: white;
    padding: 0px 25px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px; /*espaçamento entre letras*/
}

.botaoSair{
     background-color: rgba(0, 33, 63, 0.837);
     border-radius: 2px;
     border: 1px solid white;
     cursor: pointer;
}

.container{
    color: rgba(0, 33, 63, 0.837);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:rgb(255, 255, 255) ;
    padding: 50px 40px;
    border-radius: 3px;
    border: 1px solid rgba(0, 33, 63, 0.837);
    width: 20%;
    text-align: center;
}

h1, h2{
    text-align: center;
    color: rgba(0, 33, 63, 0.837);
}

h2{
    font-size: 30px;
    margin: 30px;
}

hr{
    margin: 30px 0px 40px 0px;
}

.divInput{
    position: relative;
    padding-bottom: 30px;
}

.input{
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0, 33, 63, 0.837);
    color: rgba(0, 33, 63, 0.837);
    font-size: 18px;
    width: 100%;
    padding: 10px 0px;
}

input::placeholder {
    color: rgba(0, 33, 63, 0.837);
  }

.enviar{
    background-color: rgba(0, 33, 63, 0.837);
    width: 100%;
    padding: 10px 5px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    margin-top: 30px;
    letter-spacing: 1px; /*espaçamento entre letras*/
}
 
.usuarioEsp{
    background-color: rgb(255, 255, 255);
    margin: 10px 70px;
    padding: 15px;
    border-radius: 3px;
    color: rgba(0, 33, 63, 0.837);
    font-size: 19px;
    border: 1px solid rgba(0, 33, 63, 0.837);
}

.carregamentoUsuarios{
    margin: 40px 0px;
}